.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.dados {
    padding: 0px;
    list-style: none;
}



.dados li {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.8rem;
    color: #ccc;
}


.dados li:first-child{
     color: #ccc;
     font-size: 2rem;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #ddd;
    margin-right: 10px;
}

.dados li:first-child::before {
    background: transparent;
}
